ExampleWithClasses/.vs/*
ExampleWithClasses/Debug/*
ExampleWithClasses/Release/*
ExampleWithClasses/unmanaged/Debug/*
ExampleWithClasses/unmanaged/Release/*
ExampleWithClasses/managed/obj/*

ExampleWithFunctions/.vs/*
ExampleWithFunctions/Debug/*
ExampleWithFunctions/Release/*
ExampleWithFunctions/unmanaged/Debug/*
ExampleWithFunctions/unmanaged/Release/*
ExampleWithFunctions/managed/bin/*
ExampleWithFunctions/managed/obj/*
